body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #a9c3e6;
}

.botao_login{
    padding: 15px ;
    width: 300px;
    border: 1px;
    border-radius: 15px;
    

}
.bloco_login{
    display: flex;
    flex-direction: column; 
    gap: 15px;  
    align-items: center;

}
.titulo{
    background-color: #000066; 
    color: white;
    padding: 8px;
    align-items: center;
    border: 16px;
    width: 250px;
    border-radius: 15px;
  }