body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #a9c3e6;
}

/* Cabeçalho */
header {
    background-color: #0b1a78;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}

header h1 {
    margin: 0;
}

.autenticacao a {
    color: rgb(255, 255, 255);
    margin-left: 15px;
    text-decoration: none;
}
.autenticacao_b{
    color: rgb(0, 0, 0);
    margin-left: 15px;
    text-decoration: none;
    font-size: 25px;




}
/* Produtos */
.produtos {
    display: flex;
    justify-content: space-around;
    margin: 150px 20px;
}

.cartao {
    background-color: #1c2d8c;
    padding: 8px;
    text-align: center;
    border: 4px solid #0b1a78;
    width: 150px;
    border-radius: 10px;
}

.cartao img {
    width: 100%;
    height: auto;
    background-color: white;
}

.cartao p {
    color: white;
    margin-top: 10px;
}

/* Ícones */
.icones{
    margin: 50px;
}

.icone{
    flex-direction: row;
    display: flex;
    font-size: 30px;
}

.imgIcon{
    margin-right: 400px;
    height: 50px;
    width: 50px;
    border: 4px solid #0b1a78;
    border-radius: 45%;
    background-color: white;
}